<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.matdue.isk"
    android:installLocation="auto"
    android:versionCode="9"
    android:versionName="2.6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".IskApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/IskTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_name_launcher" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:exported="true"
            android:label="@string/preferences_title"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_title" >
        </activity>
        <activity
            android:name=".EveAccessActivity"
            android:label="@string/eveaccess_title" >
        </activity>
        <activity
            android:name=".PilotsActivity"
            android:label="@string/pilots_title" >
        </activity>
        <activity
            android:name=".WalletActivity"
            android:label="@string/wallet_title" >
        </activity>
        <activity
            android:name=".MarketOrderActivity"
            android:label="@string/market_order_title" >
        </activity>

        <activity
            android:name=".ApiKeyActivity"
            android:label="@string/pilots_key_title" >
        </activity>

        <service android:name=".EveApiUpdaterService" />

        <receiver
            android:name="com.commonsware.cwac.wakeful.AlarmReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="com.commonsware.cwac.wakeful"
                android:resource="@xml/wakeful" />
        </receiver>
        <receiver android:name=".NotificationDeletedReceiver" >
        </receiver>

        <service
            android:name=".NotificationDeletedService"
            android:exported="false" >
        </service>
        <service android:name=".account.IskAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".account.AuthenticatorActivity"
            android:label="@string/account_authenticator_title"
            android:launchMode="singleInstance" >
        </activity>
        <activity android:name=".account.ApiCallbackActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.eveonline.com"
                    android:path="/installKey"
                    android:scheme="eve" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.CheckApiKeyActivity"
            android:label="@string/account_api_title" >
        </activity>
    </application>

</manifest>
